
.withdraw-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 36px;
  background: linear-gradient(135deg, rgba(124, 11, 126, 0.2), rgba(240, 240, 240, 0.6));
  border-radius: 20px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}


.withdraw-form label {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #333;
}


.withdraw-form input {
  width: 100%;
  padding: 16px 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  opacity: 0.6;
  font-size: 14px;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.withdraw-form input:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(124, 11, 126, 0.4);
}


.withdraw-form button {
  width: 100%;
  padding: 16px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.withdraw-form button:hover {
  background-color: rgb(124, 11, 126);
  transform: translateY(-2px); 
}
